<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.booya"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- For Facebook SDK-->

    <uses-feature android:name="android.hardware.camera.front" />
    <uses-feature android:name="android.hardware.microphone" />
    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="BooyaApplication" >
        <activity
            android:name="com.example.booya.video.recording.CameraRecorder"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.booya.MainActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.booya.MazeGameActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_maze_game" >
        </activity>
        <activity
            android:name="com.example.booya.TesterActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_tester" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.booya.MainBooyaActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_main_booya" >
        </activity>
        <activity
            android:name="com.example.booya.GameModuleChooserActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_game_module_chooser" >
        </activity>
        <activity
            android:name="com.example.booya.OptionsActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_options" >
        </activity>
        <activity
            android:name="com.example.booya.StoreActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_store" >
        </activity>
        <activity
            android:name="com.example.booya.MorgueActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_morgue" >
        </activity>
        <activity
            android:name="com.example.booya.AboutActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_about" >
        </activity>
        <activity
            android:name="com.example.booya.GenericGameActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_generic_game" >
        </activity>
        <activity
            android:name="com.example.booya.ScaryFigureActivity"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:label="@string/title_activity_scary_figure" >
        </activity>

        <activity android:name=".social.facebook.FacebookPublishActivity"/>

        <!-- For Facebook SDK -->
        <activity
                android:name="com.facebook.LoginActivity"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id" />
        
        <activity android:name=".SocialSettingsActivity"/>

    </application>

</manifest>